#about{
  .about-me{
    padding:15px;
    .download-resume{
      margin-top:30px;
      text-transform: uppercase;
      .btn{
        background-color: $primaryBlue;
        color:#fff;
      }
      .btn:hover{
        color:#fff;
        @include box-shadow($borderGray);
      }
    }
  }
  .photo{
    .img-thumbnail{
      @include box-shadow($shadowGray);
      img{
        width:100%;
        height:auto;
      }
    }
  }
  @media screen and(max-width:$screen-sm){
    .photo{
      display:none;
    }
  }
  .personal-info{
    font-family: $font-impact;
    font-size:14px;
    margin-top: 40px;
    td{
      border-top:none;
    }
    thead{
      font-size:28px;
    }
    tbody{
      td:nth-child(2){
        font-family:sans-serif;
      }
    }
  }
}