//color
$primaryBlue  :#4c9ed9;
$primaryBgBlue:#78b2e0;
$borderGray   :#999;
$shadowGray   :#ccc;
$fontGray     :#727272;
$bodyBgGray   :#fafafa;
$hobbyBgGray :$bodyBgGray;
$footerBgGray :#f3f3f3;
$footerFontGray:#555;

//font
$font-impact:Impact, Charcoal, sans-serif;

//length
$screenHeight:756px;

//mixins
@mixin gradient-background($color){
  background: -webkit-linear-gradient(left,right,rgba(0,0,0,0),$color,rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,right,rgba(0,0,0,0),$color,rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,right,rgba(0,0,0,0),$color,rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(0,0,0,0),$color,rgba(0,0,0,0)); /* Standard syntax */
}

@mixin box-shadow($color){
  box-shadow:0 0 8px 1px $color;
  -webkit-box-shadow:0 0 8px 1px $color;
  -moz-box-shadow:0 0 8px 1px $color;
  -o-box-shadow: 0 0 8px 1px $color;
}

//common css
body{
  min-width:380px;
  background-color: $bodyBgGray;
  font-size:14px;
  section{
    padding:100px 20px;
  }
  @media screen and(max-width:$screen-md){
    section{
      padding:50px 20px;
    }
  }
  .title{
    margin-bottom:30px;
    font-family: $font-impact;
  }
  .vertical-stack{
    margin-top:20px;
  }
  @-webkit-keyframes fadeInUpSmall {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInUpSmall {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeInUpSmall {
    -webkit-animation-name: fadeInUpSmall;
    animation-name: fadeInUpSmall;
  }

  .hide-ele{
    display:none;
  }
}